
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/"> Employee Information Management</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a ng-click="addEmployee()">Add Employee</a></li>
        <li><span class="pull-right"></span></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#" ng-click="logout()">Log Out</a></li>            
      </ul>
    </div>
  </div>
</nav>
